Click==7.1.2
bs4>=0.0.1
requests>=2.24.0
lxml>=4.5.2
Flask==1.1.2
gunicorn>=20.0.4
itsdangerous==1.1.0
Jinja2==2.11.1
jsonschema==3.2.0
MarkupSafe==1.1.1
numpy>=1.18.5
pandas>=1.0.5
scikit-learn==0.23.2
scipy>=1.5.0
sklearn>=0.0
Werkzeug>=1.0.1
beautifulsoup4>=4.9.1
tmdbv3api>=1.6.1
urllib3>=1.25.9
pickleshare>=0.7.5
